<div class="main-wrapper">
  <app-header class="desktop-header"></app-header>
  <app-header-mobile class="mobile-header"></app-header-mobile>
  <main>
    <app-hero></app-hero>
    <app-services></app-services>
    <app-booking></app-booking>
    <app-gallery></app-gallery>
    <app-reviews></app-reviews>
    <app-shop></app-shop>
    <app-team></app-team>
    <app-contact></app-contact>
  </main>
  <app-newsletter></app-newsletter>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>